USE [QLHoiThaoDb]
GO
/****** Object:  Table [dbo].[BANGDAU]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDAU](
	[IDBANG] [int] IDENTITY(1,1) NOT NULL,
	[TENBANG] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CBQUANLY]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CBQUANLY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENCB] [nvarchar](255) NULL,
	[EMAILCB] [nvarchar](255) NULL,
	[SDTCB] [nvarchar](255) NULL,
	[USERNAME] [nvarchar](255) NULL,
	[PASWORD] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMTD]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMTD](
	[IDMTD] [int] NOT NULL,
	[IDHT] [int] NOT NULL,
	[GHICHU] [nvarchar](255) NULL,
 CONSTRAINT [PK_COMTD] PRIMARY KEY CLUSTERED 
(
	[IDMTD] ASC,
	[IDHT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTTRANDAU]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTTRANDAU](
	[IDDOI] [int] NOT NULL,
	[IDTD] [int] NOT NULL,
	[KETQUA] [nvarchar](255) NULL,
	[TISO] [nvarchar](255) NULL,
	[DIEM] [int] NULL,
 CONSTRAINT [PK_CTTRANDAU] PRIMARY KEY CLUSTERED 
(
	[IDDOI] ASC,
	[IDTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOI]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOI](
	[IDDOI] [int] IDENTITY(1,1) NOT NULL,
	[IDHT] [int] NOT NULL,
	[IDMTD] [int] NOT NULL,
	[IDBANG] [int] NULL,
	[IDLOP] [int] NOT NULL,
	[BILOAI] [bit] NOT NULL,
	[TENDOI] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIAITHUONG]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAITHUONG](
	[IDGT] [int] IDENTITY(1,1) NOT NULL,
	[IDMTD] [int] NOT NULL,
	[TENGT] [nvarchar](255) NULL,
	[GIATRIGT] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HINHANH]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHANH](
	[IDHA] [int] IDENTITY(1,1) NOT NULL,
	[IDTD] [int] NOT NULL,
	[TENHA] [nvarchar](255) NULL,
	[LINK] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOITHAO]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOITHAO](
	[IDHT] [int] IDENTITY(1,1) NOT NULL,
	[TENHT] [nvarchar](255) NULL,
	[TUNGAY] [datetime] NULL,
	[DENNGAY] [datetime] NULL,
	[NGAYBDDK] [datetime] NULL,
	[NGAYKTDK] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KINHPHIHOTRO]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KINHPHIHOTRO](
	[IDKINHPHI] [int] IDENTITY(1,1) NOT NULL,
	[IDHT] [int] NOT NULL,
	[IDMTD] [int] NOT NULL,
	[GIATRI] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LIENHE]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIENHE](
	[IDLIENHE] [int] IDENTITY(1,1) NOT NULL,
	[DONVI] [nvarchar](255) NULL,
	[TIEUDE] [nvarchar](255) NULL,
	[NOIDUNG] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIMTD]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMTD](
	[IDLOAIMTD] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIMTD] [nvarchar](255) NULL,
	[MOTA] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[IDLOP] [int] IDENTITY(1,1) NOT NULL,
	[IDNGANH] [int] NOT NULL,
	[TENLOP] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONTHIDAU]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONTHIDAU](
	[IDMTD] [int] IDENTITY(1,1) NOT NULL,
	[IDLOAIMTD] [int] NOT NULL,
	[TENMTD] [nvarchar](255) NULL,
	[MOTA] [nvarchar](max) NULL,
	[HINHANH] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGANH]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANH](
	[IDNGANH] [int] IDENTITY(1,1) NOT NULL,
	[TENNGANH] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUANLYHT]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLYHT](
	[ID] [int] NOT NULL,
	[IDHT] [int] NOT NULL,
	[GHICHU] [nvarchar](255) NULL,
 CONSTRAINT [PK_QUANLYHT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDHT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUYDINH]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYDINH](
	[IDQUYDINH] [int] IDENTITY(1,1) NOT NULL,
	[IDMTD] [int] NOT NULL,
	[MOTA] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANTHIDAU]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANTHIDAU](
	[IDSTD] [int] IDENTITY(1,1) NOT NULL,
	[TENSTD] [nvarchar](255) NULL,
	[MOTA] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[IDSV] [int] IDENTITY(1,1) NOT NULL,
	[IDLOP] [int] NOT NULL,
	[HOTEN] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[SDT] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THANHVIEN]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIEN](
	[IDTV] [int] IDENTITY(1,1) NOT NULL,
	[IDLOP] [int] NOT NULL,
	[TENTV] [nvarchar](255) NULL,
	[EMAILTV] [nvarchar](255) NULL,
	[SDTTV] [nvarchar](255) NULL,
	[USERNAME] [nvarchar](255) NULL,
	[PASSWORD] [nvarchar](255) NULL,
	[TRANGTHAI] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THANHVIENDOI]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIENDOI](
	[IDVDVDOI] [int] IDENTITY(1,1) NOT NULL,
	[IDSV] [int] NULL,
	[TENVDV] [nvarchar](255) NULL,
	[EMAILVDV] [nvarchar](255) NULL,
	[SDTVDV] [nvarchar](255) NULL,
	[BOTHIDAU] [bit] NULL,
	[GHICHU] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUOCDOI]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOCDOI](
	[IDDOI] [int] NOT NULL,
	[IDVDVDOI] [int] NOT NULL,
	[GHICHU] [nvarchar](255) NULL,
 CONSTRAINT [PK_THUOCDOI] PRIMARY KEY CLUSTERED 
(
	[IDDOI] ASC,
	[IDVDVDOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANDAU]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANDAU](
	[IDTD] [int] IDENTITY(1,1) NOT NULL,
	[IDVONGDAU] [int] NOT NULL,
	[IDTRONGTAI] [int] NOT NULL,
	[IDSTD] [int] NOT NULL,
	[THOIGIANBD] [nvarchar](255) NULL,
	[THOIGIANKT] [nvarchar](255) NULL,
	[NGAYTHIDAU] [varchar](20) NULL,
	[TRANGTHAI] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRONGTAI]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRONGTAI](
	[IDTRONGTAI] [int] IDENTITY(1,1) NOT NULL,
	[TENTRONGTAI] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[SDT] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VONGDAU]    Script Date: 04/23/17 10:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VONGDAU](
	[IDVONGDAU] [int] IDENTITY(1,1) NOT NULL,
	[IDMTD] [int] NOT NULL,
	[IDHT] [int] NOT NULL,
	[TENVONGDAU] [nvarchar](255) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BANGDAU] ON 

INSERT [dbo].[BANGDAU] ([IDBANG], [TENBANG]) VALUES (1, N'Bảng A')
INSERT [dbo].[BANGDAU] ([IDBANG], [TENBANG]) VALUES (2, N'Bảng B')
INSERT [dbo].[BANGDAU] ([IDBANG], [TENBANG]) VALUES (3, NULL)
SET IDENTITY_INSERT [dbo].[BANGDAU] OFF
SET IDENTITY_INSERT [dbo].[CBQUANLY] ON 

INSERT [dbo].[CBQUANLY] ([ID], [TENCB], [EMAILCB], [SDTCB], [USERNAME], [PASWORD]) VALUES (1, N'admin', N'admin@gmail.com', N'01672151121', N'admin', N'21232f297a57a5a743894a0e4a801fc3')
INSERT [dbo].[CBQUANLY] ([ID], [TENCB], [EMAILCB], [SDTCB], [USERNAME], [PASWORD]) VALUES (2, N'ttkt', N'ttkt95@gmail.com', N'01672151121', N'ttkt', N'0bce813ebdecf57e17ed267726bdc3ea')
SET IDENTITY_INSERT [dbo].[CBQUANLY] OFF
INSERT [dbo].[COMTD] ([IDMTD], [IDHT], [GHICHU]) VALUES (1, 1, N'gbw')
INSERT [dbo].[COMTD] ([IDMTD], [IDHT], [GHICHU]) VALUES (2, 1, NULL)
INSERT [dbo].[CTTRANDAU] ([IDDOI], [IDTD], [KETQUA], [TISO], [DIEM]) VALUES (1, 5, N'Thắng', N'1', 1)
INSERT [dbo].[CTTRANDAU] ([IDDOI], [IDTD], [KETQUA], [TISO], [DIEM]) VALUES (1, 6, N'1', N'5', 3)
INSERT [dbo].[CTTRANDAU] ([IDDOI], [IDTD], [KETQUA], [TISO], [DIEM]) VALUES (1, 7, NULL, N'2', 3)
SET IDENTITY_INSERT [dbo].[DOI] ON 

INSERT [dbo].[DOI] ([IDDOI], [IDHT], [IDMTD], [IDBANG], [IDLOP], [BILOAI], [TENDOI]) VALUES (1, 1, 1, 1, 1, 0, N'thud k39')
INSERT [dbo].[DOI] ([IDDOI], [IDHT], [IDMTD], [IDBANG], [IDLOP], [BILOAI], [TENDOI]) VALUES (2, 1, 1, 1, 2, 0, N'thudk40')
INSERT [dbo].[DOI] ([IDDOI], [IDHT], [IDMTD], [IDBANG], [IDLOP], [BILOAI], [TENDOI]) VALUES (3, 1, 2, 1, 3, 0, N'cnttk39')
SET IDENTITY_INSERT [dbo].[DOI] OFF
SET IDENTITY_INSERT [dbo].[GIAITHUONG] ON 

INSERT [dbo].[GIAITHUONG] ([IDGT], [IDMTD], [TENGT], [GIATRIGT]) VALUES (2, 1, N'Giải nhì', N'200000')
INSERT [dbo].[GIAITHUONG] ([IDGT], [IDMTD], [TENGT], [GIATRIGT]) VALUES (3, 1, N'Giải ba', N'100000')
INSERT [dbo].[GIAITHUONG] ([IDGT], [IDMTD], [TENGT], [GIATRIGT]) VALUES (4, 2, N'Giải nhất', N'300000')
SET IDENTITY_INSERT [dbo].[GIAITHUONG] OFF
SET IDENTITY_INSERT [dbo].[HINHANH] ON 

INSERT [dbo].[HINHANH] ([IDHA], [IDTD], [TENHA], [LINK]) VALUES (1, 5, N'ảnh 1', NULL)
SET IDENTITY_INSERT [dbo].[HINHANH] OFF
SET IDENTITY_INSERT [dbo].[HOITHAO] ON 

INSERT [dbo].[HOITHAO] ([IDHT], [TENHT], [TUNGAY], [DENNGAY], [NGAYBDDK], [NGAYKTDK]) VALUES (1, N'Hội Thao 1', CAST(N'2017-01-01 00:00:00.000' AS DateTime), CAST(N'2017-04-30 00:00:00.000' AS DateTime), CAST(N'2016-01-12 00:00:00.000' AS DateTime), CAST(N'2016-12-15 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[HOITHAO] OFF
SET IDENTITY_INSERT [dbo].[KINHPHIHOTRO] ON 

INSERT [dbo].[KINHPHIHOTRO] ([IDKINHPHI], [IDHT], [IDMTD], [GIATRI]) VALUES (1, 1, 1, 4000000)
INSERT [dbo].[KINHPHIHOTRO] ([IDKINHPHI], [IDHT], [IDMTD], [GIATRI]) VALUES (2, 1, 2, 5000000)
INSERT [dbo].[KINHPHIHOTRO] ([IDKINHPHI], [IDHT], [IDMTD], [GIATRI]) VALUES (3, 1, 3, 4500000)
SET IDENTITY_INSERT [dbo].[KINHPHIHOTRO] OFF
SET IDENTITY_INSERT [dbo].[LIENHE] ON 

INSERT [dbo].[LIENHE] ([IDLIENHE], [DONVI], [TIEUDE], [NOIDUNG]) VALUES (2, N'thud', N'tiêu đề', N'bóng đá')
SET IDENTITY_INSERT [dbo].[LIENHE] OFF
SET IDENTITY_INSERT [dbo].[LOAIMTD] ON 

INSERT [dbo].[LOAIMTD] ([IDLOAIMTD], [TENLOAIMTD], [MOTA]) VALUES (1, N'Bóng đá', N'Loại môn thi đấu bóng đá (nam & nữ)')
INSERT [dbo].[LOAIMTD] ([IDLOAIMTD], [TENLOAIMTD], [MOTA]) VALUES (2, N'Bóng chuyền', N'Loại môn thi đấu bóng chuyền (nam & nữ)')
SET IDENTITY_INSERT [dbo].[LOAIMTD] OFF
SET IDENTITY_INSERT [dbo].[LOP] ON 

INSERT [dbo].[LOP] ([IDLOP], [IDNGANH], [TENLOP]) VALUES (1, 1, N'Tin học ứng dụng K39')
INSERT [dbo].[LOP] ([IDLOP], [IDNGANH], [TENLOP]) VALUES (2, 1, N'Tin học ứng dụng K40')
INSERT [dbo].[LOP] ([IDLOP], [IDNGANH], [TENLOP]) VALUES (3, 2, N'Công nghệ thông tin K39')
SET IDENTITY_INSERT [dbo].[LOP] OFF
SET IDENTITY_INSERT [dbo].[MONTHIDAU] ON 

INSERT [dbo].[MONTHIDAU] ([IDMTD], [IDLOAIMTD], [TENMTD], [MOTA], [HINHANH]) VALUES (1, 1, N'Bóng đá nam', N'Môn thi đâu bóng đá nam', N'/Images/logobongdanam.jpg')
INSERT [dbo].[MONTHIDAU] ([IDMTD], [IDLOAIMTD], [TENMTD], [MOTA], [HINHANH]) VALUES (2, 1, N'Bóng đá nữ', N'Môn thi đâu bóng đá nữ', N'/Images/logobongdanu.jpg')
INSERT [dbo].[MONTHIDAU] ([IDMTD], [IDLOAIMTD], [TENMTD], [MOTA], [HINHANH]) VALUES (3, 2, N'Bóng chuyền nam', N'Môn thi đâu bóng chuyền nam', N'/Images/logobongchuyennam.jpg')
SET IDENTITY_INSERT [dbo].[MONTHIDAU] OFF
SET IDENTITY_INSERT [dbo].[NGANH] ON 

INSERT [dbo].[NGANH] ([IDNGANH], [TENNGANH]) VALUES (1, N'Tin học ứng dụng')
INSERT [dbo].[NGANH] ([IDNGANH], [TENNGANH]) VALUES (2, N'Công nghệ thông tin')
SET IDENTITY_INSERT [dbo].[NGANH] OFF
INSERT [dbo].[QUANLYHT] ([ID], [IDHT], [GHICHU]) VALUES (1, 1, N'êr')
SET IDENTITY_INSERT [dbo].[QUYDINH] ON 

INSERT [dbo].[QUYDINH] ([IDQUYDINH], [IDMTD], [MOTA]) VALUES (1, 1, N'Mô tả quy định thi đáu bóng đá nam')
INSERT [dbo].[QUYDINH] ([IDQUYDINH], [IDMTD], [MOTA]) VALUES (2, 2, N'Mô tả quy định thi đáu bóng đá nữ')
INSERT [dbo].[QUYDINH] ([IDQUYDINH], [IDMTD], [MOTA]) VALUES (3, 3, N'Mô tả quy định thi đáu bóng chuyền nam')
SET IDENTITY_INSERT [dbo].[QUYDINH] OFF
SET IDENTITY_INSERT [dbo].[SANTHIDAU] ON 

INSERT [dbo].[SANTHIDAU] ([IDSTD], [TENSTD], [MOTA]) VALUES (1, N'Sân 1', N'Nhà thi đấu lớn')
INSERT [dbo].[SANTHIDAU] ([IDSTD], [TENSTD], [MOTA]) VALUES (2, N'Sân 2', N'Nhà thi đấu lớn')
SET IDENTITY_INSERT [dbo].[SANTHIDAU] OFF
SET IDENTITY_INSERT [dbo].[SINHVIEN] ON 

INSERT [dbo].[SINHVIEN] ([IDSV], [IDLOP], [HOTEN], [EMAIL], [SDT]) VALUES (1, 1, N'Nguyễn Văn A', N'nva@student.ctu.edu.vn', N'098xxx')
INSERT [dbo].[SINHVIEN] ([IDSV], [IDLOP], [HOTEN], [EMAIL], [SDT]) VALUES (2, 1, N'Nguyễn Văn B', N'nvb@student.ctu.edu.vn', N'099xxx')
INSERT [dbo].[SINHVIEN] ([IDSV], [IDLOP], [HOTEN], [EMAIL], [SDT]) VALUES (3, 2, N'Trần Văn M', N'tvm@student.ctu.edu.vn', N'098xxx')
SET IDENTITY_INSERT [dbo].[SINHVIEN] OFF
SET IDENTITY_INSERT [dbo].[THANHVIEN] ON 

INSERT [dbo].[THANHVIEN] ([IDTV], [IDLOP], [TENTV], [EMAILTV], [SDTTV], [USERNAME], [PASSWORD], [TRANGTHAI]) VALUES (1, 1, N'thudk39', N'thudk39@ctu.edu.vn', NULL, N'thudk39', N'9dea65e62f97e877d5a905b3db8fc604', 1)
INSERT [dbo].[THANHVIEN] ([IDTV], [IDLOP], [TENTV], [EMAILTV], [SDTTV], [USERNAME], [PASSWORD], [TRANGTHAI]) VALUES (2, 2, N'thudk40', N'thudk40@ctu.edu.vn', NULL, N'thudk40', N'6d9642f5a65a583122dd93ab4ca7b416', 1)
INSERT [dbo].[THANHVIEN] ([IDTV], [IDLOP], [TENTV], [EMAILTV], [SDTTV], [USERNAME], [PASSWORD], [TRANGTHAI]) VALUES (3, 3, N'cnttk39', N'cnttk39', NULL, N'cnttk39', N'afa0f3f2cf4ebc5d8d48aae8542020a0', 1)
SET IDENTITY_INSERT [dbo].[THANHVIEN] OFF
SET IDENTITY_INSERT [dbo].[THANHVIENDOI] ON 

INSERT [dbo].[THANHVIENDOI] ([IDVDVDOI], [IDSV], [TENVDV], [EMAILVDV], [SDTVDV], [BOTHIDAU], [GHICHU]) VALUES (11, 4, N'Trần Văn K', N'tvk@student.ctu.edu.vn', N'099xxx', NULL, NULL)
INSERT [dbo].[THANHVIENDOI] ([IDVDVDOI], [IDSV], [TENVDV], [EMAILVDV], [SDTVDV], [BOTHIDAU], [GHICHU]) VALUES (12, 3, N'Trần Văn M', N'tvm@student.ctu.edu.vn', N'098xxx', NULL, NULL)
INSERT [dbo].[THANHVIENDOI] ([IDVDVDOI], [IDSV], [TENVDV], [EMAILVDV], [SDTVDV], [BOTHIDAU], [GHICHU]) VALUES (4, 5, N'Lê Thị T', N'ltt@student.ctu.edu.vn', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[THANHVIENDOI] OFF
INSERT [dbo].[THUOCDOI] ([IDDOI], [IDVDVDOI], [GHICHU]) VALUES (2, 11, N'')
INSERT [dbo].[THUOCDOI] ([IDDOI], [IDVDVDOI], [GHICHU]) VALUES (2, 12, N'')
INSERT [dbo].[THUOCDOI] ([IDDOI], [IDVDVDOI], [GHICHU]) VALUES (3, 4, N'')
SET IDENTITY_INSERT [dbo].[TRANDAU] ON 

INSERT [dbo].[TRANDAU] ([IDTD], [IDVONGDAU], [IDTRONGTAI], [IDSTD], [THOIGIANBD], [THOIGIANKT], [NGAYTHIDAU], [TRANGTHAI]) VALUES (5, 1, 1, 1, N'7h', N'8h', N'3/4/2017', 1)
INSERT [dbo].[TRANDAU] ([IDTD], [IDVONGDAU], [IDTRONGTAI], [IDSTD], [THOIGIANBD], [THOIGIANKT], [NGAYTHIDAU], [TRANGTHAI]) VALUES (6, 1, 1, 1, N'20h', N'21h', N'3/4/2017', 1)
INSERT [dbo].[TRANDAU] ([IDTD], [IDVONGDAU], [IDTRONGTAI], [IDSTD], [THOIGIANBD], [THOIGIANKT], [NGAYTHIDAU], [TRANGTHAI]) VALUES (7, 1, 1, 1, N'21h', N'22h', N'3/4/2017', 1)
SET IDENTITY_INSERT [dbo].[TRANDAU] OFF
SET IDENTITY_INSERT [dbo].[TRONGTAI] ON 

INSERT [dbo].[TRONGTAI] ([IDTRONGTAI], [TENTRONGTAI], [EMAIL], [SDT]) VALUES (1, N'Lê Văn M', N'lvm@student.ctu.edu.vn', N'098xxx')
INSERT [dbo].[TRONGTAI] ([IDTRONGTAI], [TENTRONGTAI], [EMAIL], [SDT]) VALUES (2, N'Nguyễn Thị H', N'nth@student.ctu.edu.vn', NULL)
INSERT [dbo].[TRONGTAI] ([IDTRONGTAI], [TENTRONGTAI], [EMAIL], [SDT]) VALUES (3, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TRONGTAI] OFF
SET IDENTITY_INSERT [dbo].[VONGDAU] ON 

INSERT [dbo].[VONGDAU] ([IDVONGDAU], [IDMTD], [IDHT], [TENVONGDAU]) VALUES (1, 1, 1, N'Vòng bảng')
INSERT [dbo].[VONGDAU] ([IDVONGDAU], [IDMTD], [IDHT], [TENVONGDAU]) VALUES (2, 1, 1, N'Vòng bán kết')
INSERT [dbo].[VONGDAU] ([IDVONGDAU], [IDMTD], [IDHT], [TENVONGDAU]) VALUES (3, 1, 1, N'Vòng chung kết')
SET IDENTITY_INSERT [dbo].[VONGDAU] OFF
/****** Object:  Index [PK_BANGDAU]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[BANGDAU] ADD  CONSTRAINT [PK_BANGDAU] PRIMARY KEY NONCLUSTERED 
(
	[IDBANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CBQUANLY]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[CBQUANLY] ADD  CONSTRAINT [PK_CBQUANLY] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DOI]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[DOI] ADD  CONSTRAINT [PK_DOI] PRIMARY KEY NONCLUSTERED 
(
	[IDDOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_GIAITHUONG]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[GIAITHUONG] ADD  CONSTRAINT [PK_GIAITHUONG] PRIMARY KEY NONCLUSTERED 
(
	[IDGT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_HINHANH]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[HINHANH] ADD  CONSTRAINT [PK_HINHANH] PRIMARY KEY NONCLUSTERED 
(
	[IDHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_HOITHAO]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[HOITHAO] ADD  CONSTRAINT [PK_HOITHAO] PRIMARY KEY NONCLUSTERED 
(
	[IDHT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_KINHPHIHOTRO]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[KINHPHIHOTRO] ADD  CONSTRAINT [PK_KINHPHIHOTRO] PRIMARY KEY NONCLUSTERED 
(
	[IDKINHPHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LIENHE]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[LIENHE] ADD  CONSTRAINT [PK_LIENHE] PRIMARY KEY NONCLUSTERED 
(
	[IDLIENHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAIMTD]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[LOAIMTD] ADD  CONSTRAINT [PK_LOAIMTD] PRIMARY KEY NONCLUSTERED 
(
	[IDLOAIMTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOP]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [PK_LOP] PRIMARY KEY NONCLUSTERED 
(
	[IDLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_MONTHIDAU]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[MONTHIDAU] ADD  CONSTRAINT [PK_MONTHIDAU] PRIMARY KEY NONCLUSTERED 
(
	[IDMTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_NGANH]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[NGANH] ADD  CONSTRAINT [PK_NGANH] PRIMARY KEY NONCLUSTERED 
(
	[IDNGANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_QUYDINH]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[QUYDINH] ADD  CONSTRAINT [PK_QUYDINH] PRIMARY KEY NONCLUSTERED 
(
	[IDQUYDINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_SANTHIDAU]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[SANTHIDAU] ADD  CONSTRAINT [PK_SANTHIDAU] PRIMARY KEY NONCLUSTERED 
(
	[IDSTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_SINHVIEN]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [PK_SINHVIEN] PRIMARY KEY NONCLUSTERED 
(
	[IDSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_THANHVIEN]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[THANHVIEN] ADD  CONSTRAINT [PK_THANHVIEN] PRIMARY KEY NONCLUSTERED 
(
	[IDTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_THANHVIENDOI]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[THANHVIENDOI] ADD  CONSTRAINT [PK_THANHVIENDOI] PRIMARY KEY NONCLUSTERED 
(
	[IDVDVDOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TRANDAU]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[TRANDAU] ADD  CONSTRAINT [PK_TRANDAU] PRIMARY KEY NONCLUSTERED 
(
	[IDTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TRONGTAI]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[TRONGTAI] ADD  CONSTRAINT [PK_TRONGTAI] PRIMARY KEY NONCLUSTERED 
(
	[IDTRONGTAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_VONGDAU]    Script Date: 04/23/17 10:31:23 PM ******/
ALTER TABLE [dbo].[VONGDAU] ADD  CONSTRAINT [PK_VONGDAU] PRIMARY KEY NONCLUSTERED 
(
	[IDVONGDAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMTD]  WITH CHECK ADD  CONSTRAINT [FK_COMTD_COMTD_MONTHIDA] FOREIGN KEY([IDMTD])
REFERENCES [dbo].[MONTHIDAU] ([IDMTD])
GO
ALTER TABLE [dbo].[COMTD] CHECK CONSTRAINT [FK_COMTD_COMTD_MONTHIDA]
GO
ALTER TABLE [dbo].[COMTD]  WITH CHECK ADD  CONSTRAINT [FK_COMTD_COMTD2_HOITHAO] FOREIGN KEY([IDHT])
REFERENCES [dbo].[HOITHAO] ([IDHT])
GO
ALTER TABLE [dbo].[COMTD] CHECK CONSTRAINT [FK_COMTD_COMTD2_HOITHAO]
GO
ALTER TABLE [dbo].[CTTRANDAU]  WITH CHECK ADD  CONSTRAINT [FK_CTTRANDA_CTTRANDAU_DOI] FOREIGN KEY([IDDOI])
REFERENCES [dbo].[DOI] ([IDDOI])
GO
ALTER TABLE [dbo].[CTTRANDAU] CHECK CONSTRAINT [FK_CTTRANDA_CTTRANDAU_DOI]
GO
ALTER TABLE [dbo].[CTTRANDAU]  WITH CHECK ADD  CONSTRAINT [FK_CTTRANDA_CTTRANDAU_TRANDAU] FOREIGN KEY([IDTD])
REFERENCES [dbo].[TRANDAU] ([IDTD])
GO
ALTER TABLE [dbo].[CTTRANDAU] CHECK CONSTRAINT [FK_CTTRANDA_CTTRANDAU_TRANDAU]
GO
ALTER TABLE [dbo].[DOI]  WITH CHECK ADD  CONSTRAINT [FK_DOI_CO_HOITHAO] FOREIGN KEY([IDHT])
REFERENCES [dbo].[HOITHAO] ([IDHT])
GO
ALTER TABLE [dbo].[DOI] CHECK CONSTRAINT [FK_DOI_CO_HOITHAO]
GO
ALTER TABLE [dbo].[DOI]  WITH CHECK ADD  CONSTRAINT [FK_DOI_CODOI_LOP] FOREIGN KEY([IDLOP])
REFERENCES [dbo].[LOP] ([IDLOP])
GO
ALTER TABLE [dbo].[DOI] CHECK CONSTRAINT [FK_DOI_CODOI_LOP]
GO
ALTER TABLE [dbo].[DOI]  WITH CHECK ADD  CONSTRAINT [FK_DOI_DKMTD_MONTHIDA] FOREIGN KEY([IDMTD])
REFERENCES [dbo].[MONTHIDAU] ([IDMTD])
GO
ALTER TABLE [dbo].[DOI] CHECK CONSTRAINT [FK_DOI_DKMTD_MONTHIDA]
GO
ALTER TABLE [dbo].[DOI]  WITH CHECK ADD  CONSTRAINT [FK_DOI_THUOC_BANGDAU] FOREIGN KEY([IDBANG])
REFERENCES [dbo].[BANGDAU] ([IDBANG])
GO
ALTER TABLE [dbo].[DOI] CHECK CONSTRAINT [FK_DOI_THUOC_BANGDAU]
GO
ALTER TABLE [dbo].[GIAITHUONG]  WITH CHECK ADD  CONSTRAINT [FK_GIAITHUO_COGT_MONTHIDA] FOREIGN KEY([IDMTD])
REFERENCES [dbo].[MONTHIDAU] ([IDMTD])
GO
ALTER TABLE [dbo].[GIAITHUONG] CHECK CONSTRAINT [FK_GIAITHUO_COGT_MONTHIDA]
GO
ALTER TABLE [dbo].[HINHANH]  WITH CHECK ADD  CONSTRAINT [FK_HINHANH_COHA_TRANDAU] FOREIGN KEY([IDTD])
REFERENCES [dbo].[TRANDAU] ([IDTD])
GO
ALTER TABLE [dbo].[HINHANH] CHECK CONSTRAINT [FK_HINHANH_COHA_TRANDAU]
GO
ALTER TABLE [dbo].[KINHPHIHOTRO]  WITH CHECK ADD  CONSTRAINT [FK_KINHPHIH_HOTRO_MONTHIDA] FOREIGN KEY([IDMTD])
REFERENCES [dbo].[MONTHIDAU] ([IDMTD])
GO
ALTER TABLE [dbo].[KINHPHIHOTRO] CHECK CONSTRAINT [FK_KINHPHIH_HOTRO_MONTHIDA]
GO
ALTER TABLE [dbo].[KINHPHIHOTRO]  WITH CHECK ADD  CONSTRAINT [FK_KINHPHIHOTRO_HOITHAO] FOREIGN KEY([IDHT])
REFERENCES [dbo].[HOITHAO] ([IDHT])
GO
ALTER TABLE [dbo].[KINHPHIHOTRO] CHECK CONSTRAINT [FK_KINHPHIHOTRO_HOITHAO]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_QUANLY_NGANH] FOREIGN KEY([IDNGANH])
REFERENCES [dbo].[NGANH] ([IDNGANH])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_QUANLY_NGANH]
GO
ALTER TABLE [dbo].[MONTHIDAU]  WITH CHECK ADD  CONSTRAINT [FK_MONTHIDA_THUOCMTD_LOAIMTD] FOREIGN KEY([IDLOAIMTD])
REFERENCES [dbo].[LOAIMTD] ([IDLOAIMTD])
GO
ALTER TABLE [dbo].[MONTHIDAU] CHECK CONSTRAINT [FK_MONTHIDA_THUOCMTD_LOAIMTD]
GO
ALTER TABLE [dbo].[QUANLYHT]  WITH CHECK ADD  CONSTRAINT [FK_QUANLYHT_QUANLYHT_CBQUANLY] FOREIGN KEY([ID])
REFERENCES [dbo].[CBQUANLY] ([ID])
GO
ALTER TABLE [dbo].[QUANLYHT] CHECK CONSTRAINT [FK_QUANLYHT_QUANLYHT_CBQUANLY]
GO
ALTER TABLE [dbo].[QUANLYHT]  WITH CHECK ADD  CONSTRAINT [FK_QUANLYHT_QUANLYHT2_HOITHAO] FOREIGN KEY([IDHT])
REFERENCES [dbo].[HOITHAO] ([IDHT])
GO
ALTER TABLE [dbo].[QUANLYHT] CHECK CONSTRAINT [FK_QUANLYHT_QUANLYHT2_HOITHAO]
GO
ALTER TABLE [dbo].[QUYDINH]  WITH CHECK ADD  CONSTRAINT [FK_QUYDINH_COQD_MONTHIDA] FOREIGN KEY([IDMTD])
REFERENCES [dbo].[MONTHIDAU] ([IDMTD])
GO
ALTER TABLE [dbo].[QUYDINH] CHECK CONSTRAINT [FK_QUYDINH_COQD_MONTHIDA]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_GOM_LOP] FOREIGN KEY([IDLOP])
REFERENCES [dbo].[LOP] ([IDLOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_GOM_LOP]
GO
ALTER TABLE [dbo].[THANHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_THANHVIE_COTK_LOP] FOREIGN KEY([IDLOP])
REFERENCES [dbo].[LOP] ([IDLOP])
GO
ALTER TABLE [dbo].[THANHVIEN] CHECK CONSTRAINT [FK_THANHVIE_COTK_LOP]
GO
ALTER TABLE [dbo].[THUOCDOI]  WITH CHECK ADD  CONSTRAINT [FK_THUOCDOI_THUOCDOI_DOI] FOREIGN KEY([IDDOI])
REFERENCES [dbo].[DOI] ([IDDOI])
GO
ALTER TABLE [dbo].[THUOCDOI] CHECK CONSTRAINT [FK_THUOCDOI_THUOCDOI_DOI]
GO
ALTER TABLE [dbo].[THUOCDOI]  WITH CHECK ADD  CONSTRAINT [FK_THUOCDOI_THUOCDOI2_THANHVIE] FOREIGN KEY([IDVDVDOI])
REFERENCES [dbo].[THANHVIENDOI] ([IDVDVDOI])
GO
ALTER TABLE [dbo].[THUOCDOI] CHECK CONSTRAINT [FK_THUOCDOI_THUOCDOI2_THANHVIE]
GO
ALTER TABLE [dbo].[TRANDAU]  WITH CHECK ADD  CONSTRAINT [FK_TRANDAU_COSANTD_SANTHIDA] FOREIGN KEY([IDSTD])
REFERENCES [dbo].[SANTHIDAU] ([IDSTD])
GO
ALTER TABLE [dbo].[TRANDAU] CHECK CONSTRAINT [FK_TRANDAU_COSANTD_SANTHIDA]
GO
ALTER TABLE [dbo].[TRANDAU]  WITH CHECK ADD  CONSTRAINT [FK_TRANDAU_COTRONGTA_TRONGTAI] FOREIGN KEY([IDTRONGTAI])
REFERENCES [dbo].[TRONGTAI] ([IDTRONGTAI])
GO
ALTER TABLE [dbo].[TRANDAU] CHECK CONSTRAINT [FK_TRANDAU_COTRONGTA_TRONGTAI]
GO
ALTER TABLE [dbo].[TRANDAU]  WITH CHECK ADD  CONSTRAINT [FK_TRANDAU_COVD_VONGDAU] FOREIGN KEY([IDVONGDAU])
REFERENCES [dbo].[VONGDAU] ([IDVONGDAU])
GO
ALTER TABLE [dbo].[TRANDAU] CHECK CONSTRAINT [FK_TRANDAU_COVD_VONGDAU]
GO
ALTER TABLE [dbo].[VONGDAU]  WITH CHECK ADD  CONSTRAINT [FK_VONGDAU_BAOGOM_HOITHAO] FOREIGN KEY([IDHT])
REFERENCES [dbo].[HOITHAO] ([IDHT])
GO
ALTER TABLE [dbo].[VONGDAU] CHECK CONSTRAINT [FK_VONGDAU_BAOGOM_HOITHAO]
GO
ALTER TABLE [dbo].[VONGDAU]  WITH CHECK ADD  CONSTRAINT [FK_VONGDAU_COVONGDAU_MONTHIDA] FOREIGN KEY([IDMTD])
REFERENCES [dbo].[MONTHIDAU] ([IDMTD])
GO
ALTER TABLE [dbo].[VONGDAU] CHECK CONSTRAINT [FK_VONGDAU_COVONGDAU_MONTHIDA]
GO
